<div class="search_block">
  <div class="search_input">
    <h1>Start Movie Title</h1>

    <form>
    <mat-form-field>

      <input
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        placeholder="Start movie title"
        [(ngModel)]="SearchStr"
        (ngModelChange)="handleChange()"
        (focus)="isPicked = false"
      >

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let movie of movies.Search; let i = index" [value]="movie" (click)="PickMovie(i);">
          {{ movie.Title }}
        </mat-option>
      </mat-autocomplete>


    </mat-form-field>
    </form>

    <div *ngIf="isPicked">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ SelectedMovie.Title }}</mat-card-title>
          <mat-card-subtitle>{{ SelectedMovie.Year }}</mat-card-subtitle>
        </mat-card-header>
        <img class="image center" mat-card-image src="{{SelectedMovie.Poster}}" alt="{{ SelectedMovie.Title }}">
        <mat-card-actions>
          <a class="buttons" mat-raised-button routerLink="movie-detail">
            <button mat-raised-button color="primary" (click)="getMovieInfo(SelectedMovie.imdbID)">Info
            </button>
          </a>
          <a class="buttons" mat-raised-button target="_blank" href="https://www.imdb.com/title/{{SelectedMovie.imdbID}}/">open IMDB</a>
          <button mat-raised-button color="accent" (click)="SetMovieInStorage()">Add Favorite</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
