<div class="search_block">
  <div class="search_input">
    <h1>Start Movie Title</h1>

    <form class="example-form">
    <mat-form-field>

      <input
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        placeholder="Start movie title"
        [(ngModel)]="SearchStr"
        (ngModelChange)="handleChange()"
        (focus)="isPicked = false"
      >

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let movie of movies.Search; let i = index" [value]="movie" (click)="PickMovie(i);">
          {{ movie.Title }}
        </mat-option>
      </mat-autocomplete>


    </mat-form-field>
    </form>

    <div *ngIf="isPicked">
      <mat-card class="card" style="float:left">
        <mat-card-header>
          <mat-card-title>{{ SelectedMovie.Title }}</mat-card-title>
          <mat-card-subtitle>{{ SelectedMovie.Year }}</mat-card-subtitle>
        </mat-card-header>
        <img class="image center" mat-card-image src="{{SelectedMovie.Poster}}" alt="{{ SelectedMovie.Title }}">
        <mat-card-actions>
          <a class="buttons" mat-raised-button routerLink="." target="_blank" href="https://www.imdb.com/title/{{SelectedMovie.imdbID}}/">open IMDB</a>
          <button mat-raised-button color="accent" (click)="SetMovieInStorage()">Add Favorite</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>

<div class="movieList">
  <h2 class="center">My Movies List</h2>
  <div *ngIf="MovieList.length < 1" class="center">List is <b style="color:red">Empty</b></div>
<table *ngIf="MovieList.length >= 1">
  <tr *ngFor="let mymovies of MovieList; let i = index">
    <td> {{i+1}}</td>
    <td> {{mymovies.Title }}</td>
    <td> <a routerLink="movie-detail"><button mat-raised-button color="primary" (click)="GetMovieInfo(mymovies.imdbID)">Info</button></a> </td>
    <td> <a class="buttons" mat-raised-button routerLink="." target="_blank" href="https://www.imdb.com/title/{{mymovies.imdbID}}/">on IMDB</a></td>
    <td> <button mat-raised-button color="warn" (click)="DeleteMovieFromStorage(mymovies.imdbID,i)">Delete</button> </td>
  </tr>
</table>
  <button *ngIf="MovieList.length >= 1" mat-raised-button color="warn" (click)="DeleteAllFavorite()">Delete ALL</button>
</div>
